@charset "UTF-8";

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
img {
    width: 100vw;
}
a {
    display: block;
    color: white;
    background-color: #8B0000;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
a:hover {
    background-color: #fc0101;
}